.productsContainer {
  width: 500px;
}
.productsContainer .text-danger {
  right: 0;
  position: absolute;
  top: 58px;
}
.productsContainer .css-26l3qy-menu {
  margin-top: 0;
}
.productsContainer .css-4ljt47-MenuList {
  padding: 0;
}
