body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mainContainer {
  padding-top: 120px;
}

.showPasswordWrapper input {
  width: 24px;
  height: 16px;
}
.signUpActionWrap .btn-primary {
  margin-right: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// redbtn commong class
.redBtn {
  margin: 10px auto;
  padding: 10px 35px;
  margin-top: 20px;
  text-transform: uppercase;
  background: #dd216b;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
}
.redBtn:hover {
  color: $white;
  border: 1px solid $white;
}

// ImageWrapper common class
.imageWrapper {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
}

//overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

// end overlay

.card {
  padding: 20px 0;
}
.card-title {
  min-height: 68px;
  -webkit-line-clamp: 2;
}
.card-text {
  -webkit-line-clamp: 4;
  min-height: 96px;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.__react_component_tooltip {
  width: 400px;
}
.redBorder {
  border: 1px solid red;
}
li {
  list-style-type: none;
}
.white {
  color: white;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.p-relative {
  position: relative;
}

// css for input and error message
.inputWrapper,
.p-relative {
  // position: relative;
  .text-danger {
    position: absolute;
    font-size: 13px;
  }
}
// end css for input and error message
